@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron text-center">
        <h1>Random Passcode (passcode #@ViewBag.num)</h1>
        <h3>@ViewBag.word</h3>
    </div>
    <div class='add'>
        <form method="POST" asp-controller="Home" asp-action="generate">
        <button type="submit" class="btn btn-success">Generate</button>
    </form>
    </div>
    <div class='reset'>
        <form asp-controller="Home" method="POST" asp-action="reset">
        <button type="submit" class="btn btn-danger">Reset attempts</button>
        </form>
    </div>